.search_form{
    margin: 20px;
}

.foody {
    display: flex;
    text-align: center;
    flex-direction: column;
}  

.recipe_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin: 20px;
    
}

.card_recipe{
    margin: 20px;
}



