@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500&family=Montserrat:wght@100;200;300;400;500;600&display=swap");

.foody {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgb(182, 187, 175);
    min-height: 100vmax;
}

.foody h1 {
    margin-top: 50px;
    color: black;
}

.search_form {
    display: flex;
    margin: 30px 0 20px 0;
    justify-content: center;
}

/* MEDIA QUERY */

@media (max-width: 425px) {
    .search_form {
        display: flex;
        margin: 20px;
        align-items: center;
        flex-direction: column;
    }

    .search_bar {
        width: 100%;
        margin-bottom: 10px;
    }
}
